<div id="content">
    <app-user-sidebar *ngIf="userData!=null" class="sidebar" [userData]='userData'></app-user-sidebar>
    <div class="week-panel">
        <h2>Week Schedule</h2>
        <button (click)="getPrevious()">&lt;</button>
        <span *ngIf='displayDates.beingDate == ""' id="dates">10/17 - 10/24</span>
        <span *ngIf='displayDates.beingDate != ""' id="dates">{{displayDates.beginDate}} - {{displayDates.endDate}}</span>
        <button (click)="getNext()">&gt;</button>
        <employee-week-view *ngIf="events != null" [storeHours]="storeHours" [eventsJSON]="events"></employee-week-view>
    </div>
</div>