<div class="sidebar">
  <h3>Schedule an Employee</h3>
  <form (ngSubmit)="trySchedule()">

    <!-- Filtering -->
    <div class="form-group">
      <label for="exampleFormControlSelect1">Department</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>All</option>
      </select>
    </div>

    <!-- Employee select -->
    <div class="scrollbar scrollbar-primary employee-select-outer">
      <div class="employee-select force-overflow">
        <div *ngIf="this.availEmployees!=null" id="employeeSelect" class="btn-group-toggle" data-toggle="buttons">
          <label *ngFor="let e of this.availEmployees" class="btn btn-block btn-outline-primary btn-sm" (click)="onEmployeeChange(e.userId)"
            style="padding: 0px; margin: 0px; border: none">
            <input type="radio" name="employee" id="employeeOption{{i}}" autocomplete="off" [value]="e.userId"> {{e.name}}
          </label>
        </div>
      </div>
    </div>
    <br>

    <!-- Enter Time -->
    <div>
      <p>Work Status:</p>
      <p>Hours Scheduled:</p>
    </div>
    <div class="form-row">
      <div class="col">
        <input name="startTime" [(ngModel)]="startTime" type="time" class="form-control" placeholder="Start" style="min-width: 60px;">
      </div>
      <div class="col-1">
        to
      </div>
      <div class="col">
        <input name="endTime" [(ngModel)]="endTime" type="time" class="form-control" placeholder="End" style="min-width: 60px;">
      </div>
    </div>
    <br>
    <div *ngIf="availableTimes != null">
      <p>Times Available:</p>

      <p *ngFor="let time of availableTimes['times']">{{dtService.getTimeString(time["start"])}}-{{dtService.getTimeString(time["end"])}}</p>
    </div>

    <!-- Buttons -->
    <div class="form-row">
      <div class="alert alert-danger" *ngIf="scheduleFailure">{{scheduleFailMessage}}</div>
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block">Schedule</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-warning btn-block" (click)="back()">Back</button>
      </div>
    </div>

  </form>
</div>