<div class="side-bar" >
  <h3>Schedule an Employee</h3>
  <form>
    <!-- Filtering -->
    <div class="form-group">
      <label for="exampleFormControlSelect1">Department</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>All</option>
      </select>
    </div>
    <div style="overflow-y: scroll; max-height: 400px">
      <div id="employeeSelect" class="btn-group-toggle" data-toggle="buttons">
        <label *ngFor="let i of ['1','2','3','4','5']" class="btn btn-block btn-outline-primary btn-sm" style="padding: 0px; margin: 0px">
          <input type="radio" name="options" id="option{{i}}" autocomplete="off"> Employee{{i}}
        </label>
      </div>
    </div>
    <br>

    <!-- Enter Time -->
    <div>
      <p>Work Status:</p>
      <p>Hours Scheduled:</p>
    </div>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Start" style="min-width: 60px;">
      </div>
      <div class="col-1">
        to
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="End" style="min-width: 60px;">
      </div>
    </div>
    <br>
    <div>
      <p>Times Available:</p>
    </div>

    <!-- Buttons -->
    <div class="form-row">
      <div class="col">
        <button type="button" class="btn btn-primary btn-block">Schedule</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-warning btn-block" (click)="back()">Back</button>
      </div>
    </div>

  </form>
</div>