<div id="content">
<div class="sidebar">
  <form action="#" (ngSubmit)="editAvailability()">
    <label for="daySelect">Day</label>
    <div class="alert alert-danger" *ngIf="inputNotValid.dayInvalid">Please enter a day</div>
    <select id="daySelect" [(ngModel)]="inputSlot.day" name="daySelect">
      <option *ngFor="let day of days" [value]="day.value">{{day.viewValue}}</option>
    </select>
    
    <div class="alert alert-danger" *ngIf="inputNotValid.timeInvalid">Start time is too close to End time</div>
    <div class="alert alert-danger" *ngIf="inputNotValid.timeNotInStoreHours">Start or End time not within store hours</div>
    <label for="startTime">Start Time</label>
    <div class="alert alert-danger" *ngIf="inputNotValid.startTimeEmpty">Please enter a start time</div>
    <input type="time" id="startTime" name="startTime" [(ngModel)]="inputSlot.startTime"> 
    
    <label for="endTime">End Time</label>
    <div class="alert alert-danger" *ngIf="inputNotValid.endTimeEmpty">Please enter an end time</div>
    <input type="time" id="endTime" name="endTime" [(ngModel)]="inputSlot.endTime">
    
    <button class="btn btn-primary">Update</button>
    <a class="btn btn-danger" (click)="deleteTimeSlot()">Clear Day</a>
    
  </form>

    <button id="approvalBtn" class="btn btn-success" (click)="requestApproval()">Request Approval</button>
</div>

<!-- <employee-week-view  [storeHours]="storeHours"></employee-week-view> -->
<div id="calendar">
  <h2>Availability Schedule</h2>
  <employee-week-view *ngIf="events != null" [storeHours]="storeHours" [eventsJSON]="events"></employee-week-view>
</div>
</div>