#content
{
    padding: 20px;
}

h2
{
    display: inline-block;
    margin: 10px 0px;
}

#button-group
{
    margin: 20px;
    margin-left: auto;
    text-align: right;
    margin-top: -48px;
}

#button-group > button
{
    margin-right: 10px;
}