<div id="content">
  <h2>{{empName}}'s Weekly Availability</h2>
  <div id="button-group">
    <button class="btn btn-danger" (click)="sendRequestStatus('Denied')">Disapprove</button>
    <button class="btn btn-success" (click)="sendRequestStatus('Approved')">Approve</button>
  </div>
  <employee-week-view *ngIf="events != null" [storeHours]="storeHours" [eventsJSON]="events"></employee-week-view>
  <div>
    <h4>Send message to {{empName}}</h4>
    <app-message-box id="message-group" [otherId]="+empID" [conversationId]="-1"></app-message-box>
  </div>
</div>