
.ico-div {
    background-color: #6F7676;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-div.small {
    width: 50px;
    height: 50px;
}