<app-loadbar *ngIf="loading">
</app-loadbar>

<div id="loginDiv" class="card" *ngIf="!loading">
  <app-user-icon></app-user-icon>
  <form action='Login.do' method="post" (ngSubmit)="tryLogin()">
    <div class="form-group">
      <div class="alert alert-danger" *ngIf="invalidLogin">Invalid username or password</div>
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" required [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" required [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>