<table class="table table-condensed" *ngIf="scheduleData.employees != null">
  <thead>
    <tr>
      <th>Employee</th>
      <th (click)="selectDay(1)">Sunday</th>
      <th (click)="selectDay(2)">Monday</th>
      <th (click)="selectDay(3)">Tuesday</th>
      <th (click)="selectDay(4)">Wednesday</th>
      <th (click)="selectDay(5)">Thursday</th>
      <th (click)="selectDay(6)">Friday</th>
      <th (click)="selectDay(7)">Saturday</th>
      <th >total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of scheduleData.employees">
      <th>{{emp.name}}</th>

      <td *ngFor="let i of ['1','2','3','4','5','6','7']" (click)="selectDay(i)">
        <div *ngIf="emp.shifts[i] != null">
          <p>{{emp["shifts"][i]["start"]}} to {{emp["shifts"][i]["end"]}}</p>
        </div>
      </td>
      <td>{{emp["hours"]}}</td>

    </tr>
  </tbody>
</table>