<div class="container-fluid text-center">
    <app-edit-ts-week *ngIf="showWeek" [scheduleData]="scheduleData" (daySelected)="onDaySelected($event)" (weekSelected)="onWeekSelected($event)">
    </app-edit-ts-week>

    <div *ngIf="!showWeek" class="d-flex flex-row">
        <app-edit-ts-sidebar [scheduleData]="scheduleData" [currentDay]="currentDay" (backToWeekView)="onBackToWeekView($event)" (sendScheduleEmp)="sendScheduleEmp($event)"></app-edit-ts-sidebar>
        <app-edit-ts-graph [scheduleData]="scheduleData" [currentDay]="currentDay" [currentWeek]="week" [receiveSelectedEmp]="selectedEmp" style="width: 100%"></app-edit-ts-graph>
    </div>
</div>